/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Make sure the HTML and body take up full height */
html, body {
    height: 100%;
}
.wrapper {
    min-height: 99vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack content vertically */   
}
.mapper{
    flex: 1;
    margin: 0px 10px;
}
body{
    background-image: url("./images/bodybg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.container {
    display: flex;
    align-items: center; /* Aligns items in the center vertically */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 35px;
}
.container2 {
    display: flex;
    align-items: center; /* Aligns items in the center vertically */
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.titlephoto {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background-color: #f39c12;
    margin-right: 0px; 
    background-image: url(./images/L/L3.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
.greencolour{
    font-style: italic;
    color: rgb(57, 63, 116);
}

h1 {
    margin: 0;
    font-size: 24px; /* Adjust size as needed */
    font-family: 'Playfair Display', serif;
}

p{
    /* font-family: 'Georgia', serif; */
    font-family: 'Dancing Script', cursive;
    width: 75% ;
    text-align: center;
    font-size: 1.5rem;
}

.firstDisplay{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.SecondDisplay{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.b1{
    height: 130px;
    width: 130px;
    background-color: aqua;
    border-radius: 20px;
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
footer{
    text-align: center;
    background-color: pink;
    padding: 10px 0;
}
.a1{
    background-image: url(./images/L/L11.jpg);
}
.a2{
    background-image: url(./images/L/L1.jpg);  
}
.a3{
    background-image: url(./images/L/L4.jpg);  
}
.a4{
    background-image: url(./images/L/L2.jpg);  
}

.c1{
    background-image: url(./images/L/L6.jpg);
}
.c2{
    background-image: url(./images/L/L8.jpg);  
}
.c3{
    background-image: url(./images/L/L7.jpg);  
}
.c4{
    background-image: url(./images/L/L1.jpg);  
}
.s1{
    background-image: url(./images/L/L9.jpg);  
}

.s2{
    background-image: url(./images/L/L10.jpg);  
}
